html, body {
  /* Fill page */
  margin: 0;
  height: 100%;
  width: 100%;
}

body {
  /* Dotted background */
  background: -webkit-radial-gradient(rgba(100, 100, 100, 0.5) 15%, transparent 20%);
  background: radial-gradient(rgba(100, 100, 100, 0.5) 15%, transparent 20%);
  background-color: #333;
  background-size: 10px 10px;

  /* Basic typography */
  font-size: 16px;
  line-height: 1.5em;
  font-family: Ubuntu, sans-serif;
  color: #555;
}

.main {
  padding: 0.5em;
  margin-top: 3.2em;
}

nav {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 2em;
  padding: 0.6em 0.5em 0.6em 0.5em;
  box-shadow: 0 0 8px #666;

  background: #6db3f2;
  background: -moz-linear-gradient(top, #6db3f2 0%, #377add 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #6db3f2), color-stop(100%, #377add));
  background: -webkit-linear-gradient(top, #6db3f2 0%,#377add 100%);
  background: -o-linear-gradient(top, #6db3f2 0%, #377add 100%);
  background: linear-gradient(to bottom, #6db3f2 0%, #377add 100%);
}

.icon-btn {
  font-size: 2em;
  color: white;
  margin-left: 0.5em;
  cursor: pointer;
  text-decoration: none;
  padding: 0.1em 0.3em 0.1em 0.3em;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.1);
}

.right .icon-btn {
  margin-left: 1em;
}

.note-list > .note {
  margin-bottom: 0.5em;
}

.note {
  background-color: white;
  border-radius: 2px;
  padding: 0.5em 1em 0.5em 1em;
  cursor: pointer;
}

.note-inner-minimized {
  max-height: 7.5em;
  overflow: hidden;
}

.right {
  float: right;
}

/* Popup */
.popup-backdrop {
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 4;
  top: 0;
  right: 0;
}

.popup {
  z-index: 5;
  background-color: white;
  border: 1px solid black;
  border-radius: 6px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);

  /* Vertical and horizontal centering "hack" */
  display: table;
  width: 80%;
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
 }

.popup-content {
  padding: 1em 1.5em 1em 1.5em;
}

.popup-header {
  border-bottom: 1px dotted #888;
  padding: 1em 1.5em 1em 1em;
  font-weight: bold;
}

.popup-footer {
  text-align: right;
  padding: 1em 1.5em 1em 1.5em;
}

.popup-footer button {
  display: inline-block;
  margin-left: 0.5em;
}

button {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  padding: 6px 12px 6px 12px;
  font-weight: bold;
  color: white;
  border-radius: 3px;
  cursor: pointer;
  min-width: 5em;
  font-size: 1em;
  border: 1px solid #5e8ee4;
  background-color: #5e8ee4;
  background-image: -webkit-linear-gradient(top, #5e8ee4, #4173c9);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0,#5e8ee4), color-stop(1,#4173c9));
  background-image: linear-gradient(top, #5e8ee4, #4173c9);
}

.btn-gray {
  background-color: white;
  background-image: none;
  border: 1px solid #ccc;
  color: #333;
}

.btn-gray:hover, .btn-gray:active {
  background-color: #ebebeb;
}

button:hover, button:active {
  background-color: #3276b1;
  background-image: none;
}
